asgiref==3.11.0
Django==5.2.9
python-decouple==3.8
requests==2.32.3
channels==4.1.0
sqlparse==0.5.5
tzdata==2025.3
gunicorn==23.0.0
psycopg2-binary==2.9.10
whitenoise==6.8.2
dj-database-url==2.3.0
django-axes==7.0.1
